@{
    ViewData["Title"] = "Eventique";
    Layout = "~/Views/Shared/_NewLayout.cshtml";
}

@section Styles {
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">
    <link rel="icon" type="image/png" href="~/Images/newLogo.png" />
    <link rel="stylesheet" type="text/css" href="~/pato/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="~/pato/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="~/pato/fonts/themify/themify-icons.css">
    <link rel="stylesheet" type="text/css" href="~/pato/vendor/animate/animate.css">
    <link rel="stylesheet" type="text/css" href="~/pato/vendor/css-hamburgers/hamburgers.min.css">
    <link rel="stylesheet" type="text/css" href="~/pato/vendor/animsition/css/animsition.min.css">
    <link rel="stylesheet" type="text/css" href="~/pato/vendor/select2/select2.min.css">
    <link rel="stylesheet" type="text/css" href="~/pato/vendor/daterangepicker/daterangepicker.css">
    <link rel="stylesheet" type="text/css" href="~/pato/vendor/slick/slick.css">
    <link rel="stylesheet" type="text/css" href="~/pato/vendor/lightbox2/css/lightbox.min.css">
    <link rel="stylesheet" type="text/css" href="~/pato/css/util.css">
    <link rel="stylesheet" type="text/css" href="~/pato/css/main.css">
    <!-- Stylesheets -->
}
<div class="main-slider">
    <div id="slider">

        <div class="ls-slide" data-ls="bgsize:cover; bgposition:50% 50%; duration:4000; transition2d:104; kenburnsscale:1.00;">
            <img src="~/Images/slider-10-1600x800 copy.jpg" class="ls-bg" alt="" />

            <div class="slider-content ls-l" style="top:60%; left:30%;" data-ls="offsetyin:100%; offsetxout:-50%; durationin:800; delayin:100; durationout:400; parallaxlevel:0;">
                <a class="btn" href="~/Home/LastReco">Recommendations</a>
                <h3 class="title"><b>Make it Easy</b></h3>
                <h6>29 October, 2017</h6>
            </div>

        </div><!-- ls-slide -->

        <div class="ls-slide" data-ls="bgsize:cover; bgposition:50% 50%; duration:4000; transition2d:104; kenburnsscale:1.00;">
            <img src="~/Images/slider-11-1600x800 copy.jpg" class="ls-bg" alt="" />

            <div class="slider-content ls-l" style="top:60%; left:30%;" data-ls="offsetyin:100%; offsetxout:-50%; durationin:800; delayin:100; durationout:400; parallaxlevel:0;">
                <a class="btn" href="~/Home/AllWeddingHalls">Find our Wedding Halls </a>
                <h3 class="title"><b>Book by click</b></h3>
                <h6>29 October, 2017</h6>
            </div>

        </div><!-- ls-slide -->
        <div class="ls-slide" data-ls="bgsize:cover; bgposition:50% 50%; duration:4000; transition2d:104; kenburnsscale:1.00;">
            <img src="~/Images/slider-4-1600x800.jpg" class="ls-bg" alt="" />
            <div class="slider-content ls-l" style="top:60%; left:30%;" data-ls="offsetyin:100%; offsetxout:-50%; durationin:800; delayin:100; durationout:400; parallaxlevel:0;">
                <a class="btn" href="~/Home/AllPhotographers">Find our photographers</a>
                <h3 class="title"><b>Wedding Sessions</b></h3>
                <h6>29 October, 2017</h6>
            </div>

        </div><!-- ls-slide -->

    </div><!-- slider -->
</div><!-- main-slider -->


@*****************************************************************************************************@
<section class="container" style="margin-top:100px">
    <div class="row">
        @{


            int i = 0;
            foreach (var item in ViewData["photo"] as List<Photographer>)
            {
                if (i == 3)
                {
                    break;
                }
                <div class="col-lg-4 col-md-12">
                    <div class="sidebar-area">

                        <div class="sidebar-section about-author center-text">
                            <div class="author-image"><img src="@item.ImagePath" alt="Autohr Image" style="width:150px; height:150px"></div>

                            <ul class="social-icons">
                                <li><a href="#"><i class="ion-social-facebook-outline"></i></a></li>
                                <li><a href="#"><i class="ion-social-twitter-outline"></i></a></li>
                                <li><a href="#"><i class="ion-social-instagram-outline"></i></a></li>
                                <li><a href="#"><i class="ion-social-vimeo-outline"></i></a></li>
                                <li><a href="#"><i class="ion-social-pinterest-outline"></i></a></li>
                            </ul><!-- right-area -->

                            <h4 class="author-name"><b class="light-color">@item.Ph_Name</b></h4>
                            <p>
                                @item.Description
                            </p>

                            <a class="read-more-link" href="~/Home/TestPhoView/@item.Ph_Id"><b>READ MORE</b></a>
                        </div>
                    </div><!-- about-author -->
                </div>
                i++;
            }

        }
    </div>
</section>

<section class="section-welcome bg1-pattern p-t-120 p-b-105">
    <div class="container">
        <div class="row">
            <div class="col-md-6 p-t-45 p-b-30">
                <div class="wrap-text-welcome t-center">
                    <span class="tit2 t-center">
                        Eventique
                    </span>

                    <h3 class="tit3 t-center m-b-35 m-t-5">
                        About Us
                    </h3>

                    <p class="t-center m-b-22 size3 m-l-r-auto">
                        Our success is not only due to the quality of our work; it's down to attitude, our approach and the way we treat our clients.
                    </p>

                    <a href="about.html" class="txt4">
                        Our Story
                        <i class="fa fa-long-arrow-right m-l-10" aria-hidden="true"></i>
                    </a>
                </div>
            </div>

            <div class="col-md-6 p-b-30">
                <div class="wrap-pic-welcome size2 bo-rad-10 hov-img-zoom m-l-r-auto">
                    <img src="~/pato/images/our-story-01.jpg" alt="IMG-OUR">
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Intro -->


<section class="section-intro">
    <div class="header-intro parallax100 t-center p-t-135 p-b-158" style="background-image: url(../pato/images/bg-intro-01.jpg);">
        <span class="tit2 p-l-15 p-r-15">
            Discover
        </span>

        <h3 class="tit4 t-center p-l-15 p-r-15 p-t-3">
            Wedding Halls
        </h3>
    </div>

    <div class="content-intro bg-white p-t-77 p-b-133">
        <div class="container">
            <div class="row">
                @{

                    int j = 0;
                    foreach (var item in ViewData["halls"] as List<WeddingHall>)
                    {
                        if (j == 3)
                        {
                            break;
                        }

                        <div class="col-md-4 p-t-30">
                            <!-- Block1 -->
                            <div class="blo1">
                                <div class="wrap-pic-blo1 bo-rad-10 hov-img-zoom">
                                    <a href="#"><img src="@item.Hall_ImgPath" alt="IMG-INTRO"></a>
                                </div>

                                <div class="wrap-text-blo1 p-t-35">
                                    <a href="#">
                                        <h4 class="txt5 color0-hov trans-0-4 m-b-13">
                                            @item.Name
                                        </h4>
                                    </a>

                                    <p class="m-b-20">
                                        @item.OtherServices
                                    </p>

                                    <a href="~/Home/TestweddView/@item.ID" class="txt4">
                                        Learn More
                                        <i class="fa fa-long-arrow-right m-l-10" aria-hidden="true"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        j++;
                    }
                }
            </div>
                    
        </div>
                    
    </div>
</section>

<!-- Our menu -->
<section class="section-ourmenu bg2-pattern p-t-115 p-b-120">
    <div class="container">
        <div class="title-section-ourmenu t-center m-b-22">
            <span class="tit2 t-center">
                Discover
            </span>

            <h3 class="tit5 t-center m-t-2">
                Our Menu
            </h3>
        </div>

        <div class="row">
            <div class="col-md-8">
                <div class="row">
                    <div class="col-sm-6">
                        <!-- Item our menu -->
                        <div class="item-ourmenu bo-rad-10 hov-img-zoom pos-relative m-t-30">
                            <img src="~/Images/pic_inv06.jpg" alt="IMG-MENU">

                            <!-- Button2 -->
                            <a href="#" class="btn2 flex-c-m txt5 ab-c-m size4">
                                15 X 21 cm
                            </a>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <!-- Item our menu -->
                        <div class="item-ourmenu bo-rad-10 hov-img-zoom pos-relative m-t-30">
                            <img src="~/Images/pic_inv05.jpg" alt="IMG-MENU">

                            <!-- Button2 -->
                            <a href="#" class="btn2 flex-c-m txt5 ab-c-m size5">
                                13 X 18 cm
                            </a>
                        </div>
                    </div>

                    <div class="col-12">
                        <!-- Item our menu -->
                        <div class="item-ourmenu bo-rad-10 hov-img-zoom pos-relative m-t-30">
                            <img src="~/Images/pic_inv01.jpg" alt="IMG-MENU">

                            <!-- Button2 -->
                            <a href="#" class="btn2 flex-c-m txt5 ab-c-m size6">
                                10 X 15 cm
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="row">
                    <div class="col-12">
                        <!-- Item our menu -->
                        <div class="item-ourmenu bo-rad-10 hov-img-zoom pos-relative m-t-30">
                            <img src="~/Images/pic_inv02.jpg" alt="IMG-MENU">

                            <!-- Button2 -->
                            <a href="#" class="btn2 flex-c-m txt5 ab-c-m size7">
                                Circle 7cm
                            </a>
                        </div>
                    </div>

                    <div class="col-12">
                        <!-- Item our menu -->
                        <div class="item-ourmenu bo-rad-10 hov-img-zoom pos-relative m-t-30">
                            <img src="~/Images/pic_inv03.jpg" alt="IMG-MENU">

                            <!-- Button2 -->
                            <a href="#" class="btn2 flex-c-m txt5 ab-c-m size8">
                                18 X 13 cm
                            </a>
                        </div>
                    </div>

                    <div class="col-12">
                        <!-- Item our menu -->
                        <div class="item-ourmenu bo-rad-10 hov-img-zoom pos-relative m-t-30">
                            <img src="~/Images/pic_inv04.jpg" alt="IMG-MENU">

                            <!-- Button2 -->
                            <a href="#" class="btn2 flex-c-m txt5 ab-c-m size9">
                                21 X 15 cm
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
<section class="section-review p-t-115">
    <!-- - -->
    <div class="title-review t-center m-b-2">
        <span class="tit2 p-l-15 p-r-15">
            Customers Say
        </span>

        <h3 class="tit8 t-center p-l-20 p-r-15 p-t-3">
            Review
        </h3>
    </div>

    <!-- - -->
    <div class="wrap-slick3">
        <div class="slick3">
            @{
                int z = 0;
                foreach (var item in ViewData["Reviews"] as List<Review>)
                {
                    if (z == 3)
                    {
                        break;
                    }
                    <div class="item-slick3 item3-slick3">
                        <div class="wrap-content-slide3 p-b-50 p-t-50">
                            <div class="container">
                                <div class="pic-review size14 bo4 wrap-cir-pic m-l-r-auto animated visible-false" data-appear="zoomIn">
                                    <img src="@item.ReviewedMember.ImagePath" alt="IGM-AVATAR">
                                </div>

                                <div class="content-review m-t-33 animated visible-false" data-appear="fadeInUp">
                                    <p class="t-center txt12 size15 m-l-r-auto">
                                        “ @item.ReviewMessage”
                                    </p>

                                    <div class="star-review fs-18 color0 flex-c-m m-t-12">
                                          Rate : @item.Avg()           
                                    </div>

                                    <div class="more-review txt4 t-center animated visible-false m-t-32" data-appear="fadeInUp">
                                        @item.ReviewedMember.Name
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    z++;
                }
            }
        </div>

        <div class="wrap-slick3-dots m-t-30"></div>
    </div>
</section>

@section Scripts {
    <script type="text/javascript" src="~/pato/vendor/jquery/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="~/pato/vendor/animsition/js/animsition.min.js"></script>
    <script type="text/javascript" src="~/pato/vendor/bootstrap/js/popper.js"></script>
    <script type="text/javascript" src="~/pato/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/pato/vendor/select2/select2.min.js"></script>
    <script type="text/javascript" src="~/pato/vendor/daterangepicker/moment.min.js"></script>
    <script type="text/javascript" src="~/pato/vendor/daterangepicker/daterangepicker.js"></script>
    <script type="text/javascript" src="~/pato/vendor/slick/slick.min.js"></script>
    <script type="text/javascript" src="~/pato/js/slick-custom.js"></script>
    <script type="text/javascript" src="~/pato/vendor/parallax100/parallax100.js"></script>
    <script type="text/javascript">
        $('.parallax100').parallax100();
    </script>
    <script type="text/javascript" src="~/pato/vendor/countdowntime/countdowntime.js"></script>
    <script type="text/javascript" src="~/pato/vendor/lightbox2/js/lightbox.min.js"></script>
    <script src="~/pato/js/main.js"></script>
}