@model Designer
@{
    ViewData["Title"] = Model.Name;
    Layout = "~/Views/Shared/_phoViewLayout.cshtml";
}

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<style>
    .form-control {
        border-radius: 10px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
</style>
<link href="~/css/GetAllReviews.css" rel="stylesheet" />
<div id="colorlib-main">
    <section class="home-slider js-fullheight owl-carousel" id="AboutSEC">
        <div class="slider-item js-fullheight" style="background-image: url(@Model.Designer_ImgPath);">
            <div class="overlay"></div>
            <div class="container-fluid">
                <div class="row no-gutters slider-text slider-text-2 js-fullheight align-items-center justify-content-center" data-scrollax-parent="true">
                    <div class="col-md-10 text-center ftco-animate" data-scrollax=" properties: { translateY: '70%' }">
                        <h1 class="mb-4" style="margin-top:400px;" data-scrollax="properties: { translateY: '70%', opacity: 1.6 }">@Model.Name</h1>
                        <p data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">Find great places to stay, eat, shop, or visit from local experts</p>
                        <p class="mb-4" style="color:#b30202;font-size:larger;font-weight:bold;"> <span><i class="icon-star"></i></span>@Model.Rate / <span><i class="icon-user"></i></span> @Model.Reviews.Count() User </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="ftco-section-2" id="GallerySEC">
        <div class="row justify-content-center mb-5 pb-2" style="margin-top:100px;">
            <div class="col-md-7 heading-section text-center ftco-animate">
                <h2 class="mb-4">Alubms</h2>
             
                <h3>Press on invitation Phoho To Request it</h3>
            </div>
        </div>
        <div class="photograhy">
            <div class="row no-gutters">
                @{
                    if (Model.Invitations != null)
                    {
                        @foreach (var item in Model.Invitations)
                        {
                            <div class="col-md-3">
                                <a href="javascript:void(0);" id="ShowPopupModal" data-toggle="modal" class="photography-entry img d-flex justify-content-center align-items-center edit" style="background-image: url(@item.Img.Img_Path);">
                                    <div class="overlay"></div>
                                    <div class="text text-center">
                                        <h3>@item.Inv_Price $ / Piece </h3>
                                        <span>@item.Inv_Title</span>
                                        <span></span>
                                    </div>
                                </a>
                                <input type="hidden" class="id" value="@item.Inv_Id" />
                            </div>
                        }
                    }
                    else
                    {
                        <h3>No Invitations cards inserted yet ..</h3>
                    }

                }


            </div>
        </div>
    </section>

    <!----------------------------------------------------------popup Section Hidden------------------------------------------------------>
    <div class="modal fade" id="myModal" role="dialog" tabindex="-1" style="z-index:2000;">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <form method="post" asp-controller="Home" asp-action="Update" asp-route-id="@Model.ID">
                    <input type="hidden" name="Inv_Id" id="Inv_Id" />
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Post a Request</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label>Price per pice</label>
                            <input class="form-control" min="1" placeholder="Price" disabled name="Inv_Price" id="Inv_Price" />
                        </div>
                        <div class="form-group">
                            <label>Title</label>
                            <input class="form-control" min="1" placeholder="Title" disabled name="Inv_Title" id="Inv_Title" />
                        </div>
                        <div class="form-group">
                            <label>Your Quantity</label>
                            <input class="form-control" min="1" placeholder="Your Quantity" required type="number" name="Quantity" id="Quantity" onkeyup="total(`${document.getElementById('Inv_Price').value}` , this)">
                        </div>
                        <div class="form-group">
                            <label>Total price</label>
                            <input class="form-control" min="1" placeholder="total price" disabled type="number" name="totalPrice" id="totalPrice" />
                        </div>
                        <div class="form-group">
                            <label>Your Message</label>
                            <input class="form-control" min="1" placeholder="Your Message" name="Message" id="Message" />
                        </div>
                        <div class="form-group">
                            <label>Your arrival date</label>
                            <input class="form-control" min="1" placeholder="Your Date" name="Date" id="Date" type="text" />
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-success">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!------------------------------------------------------------------End popup Section Hidden---------------------------------------------------------------------->
    <section class="ftco-section-2">
        <div class="row justify-content-center mb-5 pb-2" style="margin-top:50px;">
            <div class="col-md-12">
                <div class="blog-comment">
                    <h4>All Reviews</h4>
                    <hr />
                    <ul class="comments">
                        @{
                            @foreach (var item in Model.Reviews)
                            {

                                <li class="clearfix">
                                    <img src="@item.ReviewedMember.ImagePath" class="avatar" alt="">
                                    <div class="post-comments">
                                        <p class="meta">@item.ReviewDate.Day/@item.ReviewDate.Month/@item.ReviewDate.Year <a href="#">@item.ReviewedMember.Name </a>   says: <i class="pull-right" style="margin-right:100px"><a href="#"><small>Rate: @item.Avg() </small></a></i></p>
                                        <p>
                                            @item.ReviewMessage
                                        </p>
                                    </div>
                                </li>
                            }
                        }
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <section class="ftco-section-2" id="ReviewSEC">
        <div class="row justify-content-center mb-5 pb-2" style="margin-top:100px;">
            <div class="col-md-7 heading-section text-center ftco-animate">
                <h2 class="mb-4">Review</h2>
            </div>
        </div>
        <form method="post" action="~/Home/PostDesReview/@Model.ID" enctype="multipart/form-data">
            <div class="form-group row justify-content-center">
                <input type="number" min="1" max="5" class="form-control col-md-4" placeholder="Quality" name="Quality">
            </div>
            <div class="form-group row justify-content-center">
                <input type="number" min="1" max="5" class="form-control col-md-4" placeholder="Time Commitment" name="TimeManagement">
            </div>
            <div class="form-group row justify-content-center">
                <input type="number" min="1" max="5" class="form-control col-md-4" placeholder="Deliver Commitmnent" name="DeleverTime">
            </div>
            <div class="form-group row justify-content-center">
                <textarea name="ReviewMessage" id="" cols="15" rows="4" class="form-control col-md-4" placeholder="Comment"></textarea>
            </div>
            <div class="form-group row justify-content-center">
                <input type="submit" value="Post Your Review" class="btn btn-primary py-3 px-5">
            </div>
        </form>
    </section>


    <section class="ftco-section contact-section" id="ContactSEC">
        <div class="container">
            <div class="row d-flex mb-5 contact-info">
                <div class="col-md-12 mb-4">
                    <h2 class="h4 font-weight-bold">Contact Information</h2>
                </div>
                <div class="w-100"></div>
                <div class="col-md-4">
                    <p><span>Address:</span>@Model.Address</p>
                </div>
                <div class="col-md-4">
                    <p><span>Phone:</span> <a href="#">@Model.PhoneNumber</a></p>
                </div>
                <div class="col-md-4">
                    <p><span>Email:</span> <a href="#">@Model.Users.Email</a></p>
                </div>

            </div>
        </div>
    </section>
</div>
@section Scripts
{
    <script type="text/javascript">

        $(document).ready(function () {
            $("#btnShowModal").click(function () {
                $("#ModalCreate").modal('show');
            });
             $("#Date").datepicker({
                minDate: 0
            });

            $(".delete").click(function () {
                $("#deletePhotographerModal").modal('show');
            });

            $(".edit").click(function () {
                //debugger;
                $("#myModal").modal('show');
            });

            $('table .delete').on('click', function () {
                var id = $(this).parent().find('.id').val();
                $("#deletePhotographerModal #idhh").val(id);
            });

            $('.edit').on('click', function () {
                //debugger;
                var id = $(this).parent().find('.id').val();
                $.ajax({
                    type: 'GET',
                    url: '/Home/find/' + id,
                    success: function (invitation) {
                        //debugger;
                        $('#myModal #Inv_Id').val(invitation.Inv_Id);
                        $('#myModal #Inv_Title').val(invitation.Inv_Title);
                        $('#myModal #Inv_Price').val(invitation.Inv_Price);
                    }
                });
            });
        });
    </script>
    <script type="text/javascript" src="~/js/jqueryui/jquery-ui.min.js"></script>
    <script>
        function total(price, quantity) {
            document.getElementById('totalPrice').value = price * quantity.value;
        }
    </script>
}


