@model IEnumerable<Eventique.Models.WeddingHall>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<link href="~/css/Photographer.css" rel="stylesheet" />

<input type="button" id="btnShowModal" value="Add New Hall" class="btn btn-primary" />

<table class="table" id="tableDesigner">
    <thead style="color:grey">
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">PhoneNumber</th>
            <th scope="col">Address</th>
            <th scope="col">HallType</th>
            <th scope="col">Email</th>
        </tr>
    </thead>
    <tbody style="color:grey">
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.ID</td>
                <td>@item.Name</td>
                <td>@item.PhoneNumber</td>
                <td>@item.Address</td>
                <td>@item.HallType</td>
                <td>@item.Users.Email</td>
                <td>
                    <a href="javascript:void(0);" id="showeditDesignerModal" class="edit" data-toggle="modal">
                        Edit
                    </a>
                    <input type="hidden" class="id" value="@item.ID" />
                </td>
                <td>
                    <a href="javascript:void(0);" id="showdeleteDesignerModal" class="delete" data-toggle="modal">
                        Delete
                    </a>
                    <input type="hidden" class="id" value="@item.ID" />
                </td>
            </tr>
        }
    </tbody>
</table>

<div class="modal fade" tabindex="-1" id="ModalCreate" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form method="post" asp-controller="Halls" asp-action="CreateHall">
                <div class="modal-header">
                    <h4 class="modal-title">Add Hall</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        ×
                    </button>
                </div>
                <div class="modal-body">
                    @*<div class="form-group">
                            <input class="form-control" type="text" placeholder="ID"  name="ID" />
                        </div>*@
                    <div class="form-group">
                        <input class="form-control" placeholder="Name"
                               type="text" required="required" name="Name" />
                    </div>
                    <div class="form-group">
                        <input class="form-control" placeholder="PhoneNumber"
                               type="text" required="required" name="PhoneNumber" />
                    </div>
                    <div class="form-group">
                        <input class="form-control" placeholder="Address"
                               type="text" required="required" name="Address" />
                    </div>
                    <div class="form-group">
                        <input class="form-control" placeholder="HallType"
                               type="text" required="required" name="HallType" />
                    </div>
                    <div class="form-group">
                        <input class="form-control" placeholder="Email"
                               type="text" required="required" name="_Email" />
                    </div>
                    <div class="form-group">
                        <input class="form-control" placeholder="Password"
                               type="text" required="required" name="_Password" />
                    </div>

                </div>
                <div class="modal-footer">
                    <input type="submit" class="btn btn-success" value="Save" />
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" tabindex="-1" id="ModalUpdate" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form method="post" asp-controller="Halls" asp-action="UpdateHall">
                <div class="modal-header">
                    <h4 class="modal-title">Update Hall</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        ×
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <input class="form-control" type="text" placeholder="ID" id="IDHall" required="required" name="ID" readonly />
                    </div>
                    <div class="form-group">
                        <input class="form-control" placeholder="Name"
                               type="text" id="NameHall" required="required" name="Name" />
                    </div>
                    <div class="form-group">
                        <input class="form-control" placeholder="PhoneNumber"
                               type="text" id="PhoneNumberHall" required="required" name="PhoneNumber" />
                    </div>
                    <div class="form-group">
                        <input class="form-control" placeholder="Address"
                               type="text" id="AddressHall" required="required" name="Address" />
                    </div>
                    <div class="form-group">
                        <input class="form-control" placeholder="HallType"
                               type="text" id="HallTypeHall" required="required" name="HallType" />
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="submit" class="btn btn-success" value="Save" />
                    <input type="hidden" name="ID" id="id" />
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="ModalDelete">
    <div class="modal-dialog">
        <div class="modal-content">
            <form method="post" asp-controller="Halls" asp-action="RemoveHall">
                <div class="modal-header">
                    <h4 class="modal-title">Delete Hall</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        ×
                    </button>
                </div>
                <div class="modal-body">
                    <p>Are you sure want to delete this records?</p>
                    <p class="text-warning"><small>this Action cannot be undone</small></p>
                </div>
                <div class="modal-footer">
                    <input type="button" class="btn btn-default" data-dismiss="modal" value="cancel" />
                    <input type="submit" class="btn btn-danger" value="Delete" />
                    <input type="hidden" id="idhh" name="ID" />
                </div>
            </form>
        </div>
    </div>
</div>

@section scripts2{
    <script type="text/javascript">
        $(document).ready(function () {
            $("#btnShowModal").click(function () {
                $("#ModalCreate").modal('show');
            });

            $(".delete").click(function () {
                $("#ModalDelete").modal('show');
            });

            $(".edit").click(function () {
                $("#ModalUpdate").modal('show');
            });

            $('table .delete').on('click', function () {
                var id = $(this).parent().find('.id').val();
                $("#ModalDelete #idhh").val(id);
            });

            $('table .edit').on('click', function () {
                var id = $(this).parent().find('.id').val();
                $.ajax({
                    type: 'GET',
                    url: '/Halls/FindHall/' + id,
                    success: function (Hall) {
                        $('#ModalUpdate #IDHall').val(Hall.ID);
                        $('#ModalUpdate #NameHall').val(Hall.Name);
                        $('#ModalUpdate #PhoneNumberHall').val(Hall.PhoneNumber);
                        $('#ModalUpdate #AddressHall').val(Hall.Address);
                        $('#ModalUpdate #HallTypeHall').val(Hall.HallType);

                    }
                });
            });
        });
    </script>
}